<script>
  window.watsonAssistantChatOptions = {
      integrationID: "1774ef45-3ec5-46e5-9f9d-92960c8af812", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "40a11d1b-c890-4ccd-960b-8b41485151bf", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
    document.head.appendChild(t);
  });
</script>

<!doctype html> <html> <head>
    <title>Identify Your Durian!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> </head> <body style="background-color:black"> <div id="maintext" 
style="position:absolute; margin:auto; width:700px; height:200px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">
  <h1 class="text-light mb-2"> Upload your durian image to be classified! </h1>
  <h4 class="text-light mb-5">(Please upload images less than 500kb in size)</h4>
  <form method=post enctype=multipart/form-data>
     <p class="text-light">
        <input type=file name=file>
        <input type=submit value=Upload>
     </p>
  </form> </div> </body>
  <h4 class="text-light mb-5">This app can identify 3 types of common durian in Singapore. Mao Shan King (D197), Sultan (D24) and Singapore Red Prawn (D13)</h4>
</html>
