<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>BAO BAO JIAK!</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">BAO BAO JIAK!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#classification" class="nav-link">Know Your Durian King</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#team" class="nav-link">Our Awesome Team</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Showcase -->
    <section class="bg-dark text-light p-5 text-center text-sm-start" id="classification">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div class=pt-4>
                    <h1>Know Your <span class="text-warning">Durian King</span></h1>
                    <p class="lead my-4">
                        Love durians? Unsure of what you are looking at is the durian species you want? Snap and upload
                        a
                        photo of them! We help you to identify them!
                    </p>
                    <!--Display: Image Upload-->
                    <button class="btn btn-primary btn-lg">
                        <label for="input-image">Upload</label>
                    </button>
                    <form action="/predict" method="post" enctype="multipart/form-data" class="services-link">
                        <div class="drop-zone">
                            <input id="input-image" type="file" name="file" class="drop-zone__input" required="required"
                                accept="image/*" hidden onchange="if (this.value != 0) { this.form.submit(); }">
                            <script> document.querySelector("#input-image").addEventListener("change", function () {
                                    const reader = new FileReader();
                                    reader.addEventListener("load", () => {
                                        localStorage.setItem("recent-image", reader.result);
                                    });
                                    reader.readAsDataURL(this.files[0]);
                                    document.addEventListener("DOMContentLoaded", () => {
                                        const recentImageDataURL = localStorage.getItem("recent-image");
                                        if (recentImageDataURL) {
                                            document.querySelector("#imgPreview").setAttribute("src", recentImageDataURL);
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </form>
                    <div class="pt-3">
                        <p class="mt-4">Note: Due the constraint of the existing durian dataset, our identification
                            service is limited to the three most popular durian species in Singapore:
                        <ul>
                            <li>Mao Shan Wang (D197)</li>
                            <li>Sultan (D24)</li>
                            <li>Singapore Red Prawn (D13)</li>
                        </ul>
                        Please upload an image (.jpg or .png) of size not exceeding 3MB.
                        </p>
                    </div>
                </div>
                <img class="img-fluid w-50 d-none d-sm-block"
                    src="https://github.com/tankejie/BaoBaoJiak/blob/main/templates/img/showcase_durian.jpeg?raw=true"
                    alt="">
            </div>
        </div>
    </section>
    <!-- About Us -->
    <section>
        <section class="p-5 text-center text-sm-start" id="about">
            <div class="container">
                <div class="text-sm-center justify-content-between">
                    <h2 class="text-sm-center text-uppercase pt-5">About</h2>
                    <p class="text-sm-center lead pb-5">
                        Bao Bao Jiak app aims to be the to-go-to smart app for you,
                        durian
                        lovers. We provides additional assurance on top of
                        the existing bao jiak services from the durian merchants. We achieve this by helping you
                        to identify your favourite durian
                        species, using our innovative AI-powered durian recognition technology, so that you can truly
                        enjoy
                        and
                        appreciate the durians with a stronger
                        peace of mind. Educational information about common durian species sold in Singapore is
                        available here too. Our smart, interactive and informative chat bot will help you to get the
                        information you need and understand
                        more about
                        the different durian species! Don't be shy to fall in love with durians or us!
                    </p>
                </div>
            </div>
        </section>
    </section>
    <!-- Our Team -->
    <section id="team" class="p-5 bg-info text-center text-sm-start">
        <div class="container">
            <h2 class="text-sm-center text-white text-uppercase">
                Our Awesome Team
            </h2>
            <p class="lead text-center text-white mb-5">
                Meet the fun-loving people who are crazy about durians.
            </p>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-light">
                        <div class="card-body text-center ">
                            <img src="https://github.com/tankejie/BaoBaoJiak/blob/main/templates/img/desmond_128x128.jpeg?raw=true"
                                class="rounded-circle mb-3" alt="">
                            <h3 class="card-title mb-3">Desmond Fong</h3>
                            <p class="card-text">The humorous business development manager who will always
                                choose Mao Shan Wang durian over wine.<br>"Durians and wine don't mix"
                            </p>
                            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-light">
                        <div class="card-body text-center ">
                            <img src="https://github.com/tankejie/BaoBaoJiak/blob/main/templates/img/whyeseng_128x128.jpeg?raw=true"
                                class="rounded-circle mb-3" alt="">
                            <h3 class="card-title mb-3">Yeow Whye Seng</h3>
                            <p class="card-text">The cool system intergration engineer who loves to challenge the
                                impossible into possible. Always seek to try out new species of durians.
                            </p>
                            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-light">
                        <div class="card-body text-center ">
                            <img src="https://github.com/tankejie/BaoBaoJiak/blob/main/templates/img/kelvin_128x128.jpeg?raw=true"
                                class="rounded-circle mb-3" alt="">
                            <h3 class="card-title mb-3">Kelvin Soh</h3>
                            <p class="card-text">The calm project leader who always ensure smooth flow
                                and delivery of projects but loses his calm when he sees the Black Thorn durians in
                                the
                                market.</p>
                            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4 justify-content-center mt-0">
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-light">
                        <div class="card-body text-center ">
                            <img src="https://github.com/tankejie/BaoBaoJiak/blob/main/templates/img/kejie_128x128.jpeg?raw=true"
                                class="rounded-circle mb-3" alt="">
                            <h3 class="card-title mb-3">Tan Ke Jie</h3>
                            <p class="card-text">The geeky AI engineer who types with his left hand while eating Sultan
                                durians
                                with his right hand at the same time, but able to deliver solutions on time.</p>
                            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-light">
                        <div class="card-body text-center ">
                            <img src="https://github.com/tankejie/BaoBaoJiak/blob/main/templates/img/henry_128x128.jpeg?raw=true"
                                class="rounded-circle mb-3" alt="">
                            <h3 class="card-title mb-3">Henry Lim</h3>
                            <p class="card-text">The cheeky chat bot developer whose heart races faster when
                                seeing durian.<br>"Durian is the essence of life…or is it?"</p>
                            <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                            <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us -->
    <section id="contact" class="text-center text-sm-start p-5">
        <div class="container">
            <div class="row justify-content-center text-center g-4">
                <div class="col-md">
                    <h2 class="text-sm-center mb-4 text-dark text-uppercase">Contact Us</h2>
                    <ul class="list-group list-group-flush lead">
                        <li class="list-group-item">
                            <span class="fw-bold">Main Location:</span> Singapore
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Phone:</span> (+65) 6363 6363
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Email:</span> eatdurianswithus@baobaojiak.com
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script>
        window.watsonAssistantChatOptions = {
            integrationID: "1774ef45-3ec5-46e5-9f9d-92960c8af812", // The ID of this integration.
            region: "us-south", // The region your integration is hosted in.
            serviceInstanceID: "40a11d1b-c890-4ccd-960b-8b41485151bf", // The ID of your service instance.
            onLoad: function (instance) { instance.render(); }
        };
        setTimeout(function () {
            const t = document.createElement('script');
            t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
            document.head.appendChild(t);
        });
    </script>
</body>
</html>
