<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>BAO BAO JIAK!</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark py-3">
        <div class="container">
            <a href="#" class="navbar-brand">BAO BAO JIAK!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#classification" class="nav-link">Know Your Durian King</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#team" class="nav-link">Our Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Showcase -->
    <header class="masthead" style="padding-top: 6em; padding-bottom: 6em;">
        <section class="page-section" id="services" style="padding: 10px;">
            <div class="container">
                <div class="text-center"
                    style="border-radius: 20px 20px 20px 20px; background-color: white; padding: 20px;">
                    <div class="row">
                        <div class="col-md-auto"
                            style="text-align: left; color: black !important; justify-content: center; display: grid;">
                            <img class="img-thumbnail" src="https://github.com/tankejie/BaoBaoJiak/blob/main/uploads/uploadimage.jpg">
                        </div>
                        <div class="col-9" style="color: black !important; text-align: left;">
                            <h2 class="section-heading resultpage text-uppercase" style="color: black !important;">{{
                                predictions.class1 }}
                            </h2>
                            <h3 class="section-subheading resultpage text-muted"
                                style="color: black !important; font-style: normal !important;">We think the durian may
                                be
                                {{ predictions.class1 }} with {{ predictions.prob1*100 }}% confidence.</h3>
                            <form method="post" enctype="multipart/form-data" class="services-link">
                                <!--Display: Image Upload-->
                                <button class="btn btn-primary btn-lg">
                                    <label for="input-image">Upload</label>
                                </button>
                                <div class="drop-zone">
                                    <input type="file" id="input-image" name="file" class="drop-zone__input" required="required" accept="image/*" hidden onchange="if (this.value != 0) { this.form.submit(); loadFile(event); }">
                                </div>
                            </form>
                            <!--<span id="demo" style="width:100%; display: flex;"</span>-->
                        </div>
                    </div>
                </div><br>
                <div class="text-center">
                    <div class="text-center"
                        style="border-radius: 20px 20px 20px 20px; background-color: white; padding: 20px;">
                        <div class="row">
                            <!--Portfolio item 1-->
                            <div class="services-caption-heading resultpage" style="color: black;">
                                <h2>About {{ predictions.class1 }} Durian</h2>
                            </div><br>
                            <div class="services-caption-subheading resultpage text-muted"
                                style="font-style: normal; text-align: justify;"><b>Wikipedia:</b> Basil (, also US: ;
                                Ocimum basilicum), also called great basil, is a culinary herb of the family Lamiaceae
                                (mints). It is a tender plant, and is used in cuisines worldwide. In Western cuisine,
                                the
                                generic term "basil" refers to the variety also known as sweet basil or Genovese basil.
                                Basil is native to tropical regions from Central Africa to Southeast Asia. In temperate
                                climates basil is treated as an annual plant, however, basil can be grown as a
                                short-lived
                                perennial or biennial in warmer horticultural zones with tropical or Mediterranean
                                climates.There are many varieties of basil including sweet basil, Thai basil (O.
                                basilicum
                                var. thyrsiflora), and Mrs. Burns' Lemon (O. basilicum var. citriodora). O. basilicum
                                can
                                cross-pollinate with other species of the Ocimum genus, producing hybrids such as lemon
                                basil (O. × citriodorum) and African blue basil (O. × kilimandscharicum).</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <!-- About Us -->
    <section>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="displayimagescript.js"></script>
    <script>loadFile(event)</script>
</body>
</html>
